<hr class="w-100 mx-auto mb-5 border-0" style="height:1px;background:#dfe1e5;">

<section id="contacto" class="espaciado-seccion  py-3 my-3">
  <div class="container">
    
    <div class="row mb-4">
      <div class="col-12 text-start">
        <h2 class="fs-1">Contact</h2>
        <p class="fw-normal fs-6">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
    </div>
    
    <div class="row justify-content-center ">
      <div class="col-lg-8 ">
        <div class="border border-secondary-subtle rounded p-3" style="background-color: #f2f2f2; ">
          <form id="formularioContacto">
            
            <div class="row mb-3 align-items-center">
              <div class="col-md-4 text-start">
                <label for="email" class="form-label mb-0 text-end d-block fw-bold">Your E-mail </label>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control " id="email" placeholder="Enter your email">
              </div>
            </div>
            
            <div class="row mb-3 align-items-center">
              <div class="col-md-4 align-self-start text-end">
                <label for="mensaje" class="form-label mb-0 text-end d-block fw-bold">Your Message</label>
              </div>
              <div class="col-md-8">
                <textarea class="form-control " id="mensaje" rows="4" placeholder="Enter your message"></textarea>
              </div>
            </div>
            
            <div class="text-end">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
